:root {
--color-dark: #023047;
--color-light: #8ecae6;
--color-orange: #FB8500;
--color-yellow: #FFB703;
--color-teal: #219EBC;

--font-header:'Sue Ellen Francisco', cursive;
--font-body: 'Quicksand', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #8ecae6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.MuiTextField-root {
  font-family: var(--font-body);
}