.btn {
    height: 50px;
    background-color: #ffb703;
    color: #023047;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 30px;
    border: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: auto;
    padding: 0 15px;
    background-color: #023047;
    color: #ffb703;
  }

  .menuItem {
    background-color: #ffb703;
    margin: 0;
    height: 100%;
  }
  .mobileNav {
    display:none;
    
}
  .rightNav {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .user {
    font-size: 1.5em;
  }
@media (max-width:  420px){

    .headerLogBtn {
       display: none; 
    }
    .container{
        justify-content: center;
    }
    .rightNav {
        display: none;
    }
    .mobileNav {
        display:flex;
        justify-content: flex-end;
        align-items:center;
        width:20%;
        

    }
   
}